
<script type="text/javascript">
  jQuery.noConflict();
  var yesterday = new Date();
  yesterday.setDate(yesterday.getDate());
  var startDay = new Date();
  startDay.setMonth(startDay.getMonth() - 12);
  startDay.setDate(startDay.getDate() - 1);
  var isSendedDownloadRequest = false;


      $('#fromDateDp').datepicker({
      language: "es",
      format: "dd/mm/yyyy",
      startDate: startDay,
      endDate: yesterday,
      autoclose: true,
      minDate:"-12M",
      maxDate:1
    }).on('changeDate', function (selected) {
        var today=new Date();
          var from = $('#fromDate').val().split("/");
          var f = new Date(from[2], from[1] - 1, from[0]);
          var oneMonthMore = new Date(from[2], from[1] - 1, from[0]);
          oneMonthMore.setMonth(oneMonthMore.getMonth()+2);
          if(oneMonthMore>today){
            oneMonthMore=today;
          }
      $('#toDateDp').datepicker('setStartDate', f);
      $('#toDateDp').datepicker('setEndDate', oneMonthMore);
      $('#toDateDp').datepicker('setDate', oneMonthMore);
        });
    $('#toDateDp').datepicker({
      language: "es",
      format: "dd/mm/yyyy",
      startDate: startDay,
      endDate: yesterday,
      autoclose: true,
      minDate:"-12M",
      maxDate:1
    });

</script>

<div class="marketing">

    <div class="row-fluid">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
        <label for="subject"> {{labelsMap['PRODUCT-TYPE']}}*</label>

                 <select id="listaTipoProductos" class="form-control" ng-change="updateOwnAccountList()" ng-model="productValue" ng-options="product.code as product.description for product in products | filter:{code:'!CDT'}">
                     <option value="" >{{labelsMap['SELECT-OPTION']}}</option>
                 </select>

                <div ng-if="showErrorProductValue"><label  for="productType" class="error-messages">{{labelsMap['SELECT-PRODUCT-TYPE']}}</label></div>
        </div>
      </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <label for="subject"> {{labelsMap['PRODUCT-NUMBER']}}*</label>

                 <select class="form-control" ng-change="" ng-model="productNumber" ng-options="ownAccount.id as ownAccount.data for ownAccount in ownAccountsListModified">
                     <option value="" >{{labelsMap['SELECT-OPTION']}}</option>
                 </select>
                 <div ng-if="showErrorProductNumber"><label  for="accountId" class="error-messages">{{labelsMap['SELECT-PRODUCT-NUMBER']}}</label></div>
        </div>
      </div>

    </div>

      <div class="row-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="form-group">
            <label for="">{{labelsMap['FROM-DATE']}}</label>
            <div class="input-group date" id="fromDateDp">
              <input id="fromDate" class="form-control" readonly="true" />
              <span class="input-group-addon add-on "> <i class="glyphicon glyphicon-calendar"></i> </span>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="form-group">
            <label for="">{{labelsMap['TO-DATE']}}</label>
            <div class="input-group date" id="toDateDp">
              <input id="toDate" class="form-control" readonly="true" />
              <span class="input-group-addon add-on "> <i class="glyphicon glyphicon-calendar"></i> </span>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-12">
          <div class="row pull-right marginBoton">

            <input type="button" class="btn btn-primary" value="Buscar" id="searchButton" ng-click="searchMovements()">

          </div>
    </div>
      <br>
    <div class="col-md-12">
          <div class="row pull-right marginBoton">

            <input ng-if="showDownloadButton" type="button" class="btn btn-primary" value="Descargar" id="downloadButton" onclick="changeToDownload();">

          </div>
    </div>

<br>
<br>
<br>
<br>
  <div class="loader" ng-if="loadingGrid" >{{labelsMap.LOADING}}</div>

  <h4 ng-if = "getScopeAttribute(grid.grid).showGrid && getScopeAttribute(grid.grid).availableGrid">{{savingsDesc}}</h4>
 <div ng-repeat="grid in gridsObject">
  <div  id="grid.grid" ui-grid="getScopeAttribute(grid.grid)" ui-grid-auto-resize ui-grid-pagination ui-grid-move-columns ng-if = "getScopeAttribute(grid.grid).showGrid && getScopeAttribute(grid.grid).availableGrid && getScopeAttribute(grid.grid).displayGrid" ng-style="{height: (getScopeAttribute(grid.grid).gridStyle)+'px'}"></div>

<!-- /#footerMovementsTable-->

  <div id="footerTable" ng-if = "getScopeAttribute(grid.grid).showGrid && getScopeAttribute(grid.grid).availableGrid">
    <div class="btn_filter">
        <a ng-click="showModal(grid.grid)"><span class="ui-icon ui-icon-newwin"></span> {{labelsMap['SHOW-HIDE-COLUMNS']}} </a>
    </div>
    <div class="btn_filter">
        <a ng-click="enableFiltering(grid.grid,grid.gridApi)"><span class="ui-icon ui-icon-search"></span> {{labelsMap.FILTER}}</a>
    </div>

    <div class="btn_2">
      <a class="btn btn-success" ng-click="getScopeAttribute(grid.gridApi).pagination.nextPage()">
        <span class="ui-icon ui-icon-seek-next"></span>
      </a>
      <a class="btn btn-success" ng-click="getScopeAttribute(grid.gridApi).pagination.seek(getScopeAttribute(grid.gridApi).pagination.getTotalPages())">
        <span class="ui-icon ui-icon-seek-end"></span>
      </a>
    </div>

    <div class="btn_center">{{labelsMap.PAGE}} {{ getScopeAttribute(grid.gridApi).pagination.getPage() }} - {{ getScopeAttribute(grid.gridApi).pagination.getTotalPages() }}</div>

    <div class="btn_1">
      <a class="btn btn-success" ng-click="getScopeAttribute(grid.gridApi).pagination.seek(1)">
        <span class="ui-icon ui-icon-seek-first"></span>
      </a>
      <a class="btn btn-success" ng-click="getScopeAttribute(grid.gridApi).pagination.previousPage()">
        <span class="ui-icon ui-icon-seek-prev"></span>
      </a>
    </div>

  </div><!-- /#footerMovementsTable-->


<div ng-show="getScopeAttribute(grid.grid).displayModal" id="openModal" class="modalDialog">
<div>
<div class="titModal">{{labelsMap['SHOW-HIDE-COLUMNS']}}
<a ng-click="showModal(grid.grid)" class="closex">
<i class="ui-button-icon-primary ui-icon ui-icon-closethick"></i>
</a>
</div>
<div class="cont">
<div class="container">
<div class="btns">
  <div class="caja"><a ng-click = "hideAllColumns(grid.grid,grid.gridApi)">{{labelsMap['REMOVE-ALL']}}</a></div>
</div>
    <ul id="gallery"  >
        <li ng-if="column.visible" ng-repeat="column in getScopeAttribute(grid.grid).columnDefs track by $index"><span class="fl">{{column.displayName}}</span><a href="#" ng-click="setColumns(grid.grid,grid.gridApi,column)" title=""><span class="ui-corner-all ui-icon ui-icon-minus"></span></a></li>
    </ul>
</div>

<div class="container">
<div class="btns">
  <div class="caja"><a ng-click = "showAllColumns(grid.grid,grid.gridApi)">{{labelsMap['ADD-ALL']}}</a></div>
</div>
    <ul id="gallery2"  >
        <li ng-if="!column.visible" ng-repeat="column in getScopeAttribute(grid.grid).columnDefs track by $index"><span class="fl">{{column.displayName}}</span><a href="#" ng-click="setColumns(grid.grid,grid.gridApi,column)" title="remove this dvd"><span class="ui-corner-all ui-icon ui-icon-plus"></span></a></li>
    </ul>
</div>
</div>
<hr>
<a ng-click="showModal(grid.grid)" class="btn">{{labelsMap.CLOSE}}</a>
</div>
</div>

</div>
</div>
