
 <div class="marketing">

  <h4>{{labelsMap['BALANCES-TITLE']}}</h4>

  <div todo1-errors show="showError" message="errorMessage" level="levelMessage"></div>
  
    <div class="row-fluid">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
        <label for="subject"> {{labelsMap['PRODUCT-TYPE']}}</label> 

                 <select id="listaTipoProductos" class="form-control" ng-change="productTypeFilter()" ng-model="productValue" ng-options="product.code as product.description for product in products">
                     <option value="" >{{labelsMap.ALL}}</option>
                 </select>
        </div>
      </div>
      
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">

          <label for="subject"> {{labelsMap.CURRENCY}}</label> 
                <select id="listaMonedas" class="form-control" ng-change="updateTables()" ng-model="currencyValue" ng-options="currencies for currencies in currencies">
                  <option value="" >{{labelsMap.ALL}}</option>
                </select>
        </div>
      </div>
    </div> 

    <div class="row-fluid">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">

          <label for="subject"> {{labelsMap.COUNTRIES}}</label> 
                <select id="countriesList" class="form-control" ng-change="updateTables()" ng-model="countryValue" ng-options="country.code as country.description for country in countries">
                  <option value="" >{{labelsMap.ALL}}</option>
                </select>
        </div>
      </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">

          <label for="subject"> {{labelsMap.BANKS}}</label> 
                <select id="banksList" class="form-control" ng-change="updateTables()" ng-model="bankValue" ng-options="bank.code as bank.description for bank in banks">
                  <option value="" >{{labelsMap.ALL}}</option>
                </select>
        </div>
      </div>
    </div> 

        <div class="loader" ng-if="loadingGrids" >{{labelsMap.LOADING}}</div>
 

    <div ng-repeat="grid in gridsObject">
      <div todo1-product-grid ></div>
    </div>

<!--
grid-id="getScopeAttribute(grid.grid)" grid-api="getScopeAttribute(grid.gridApi)" grid-api-string="grid.gridApi"
<div todo1-savings-grid></div>
<div todo1-checking-grid></div>
<div todo1-cdt-grid></div>
<div todo1-loan-grid></div> -->

<div ng-show="showProductDetail" class="modalDialog">
  <div class="contD ui-widget-header">
    <div class="titModal">{{productDetail.header}}
      <a ng-click="showProductDetailModal()" class="closex">
        <i class="ui-button-icon-primary ui-icon ui-icon-closethick"></i>
      </a>
    </div>
    <hr>
    <div id="productDetailInfo" class="contInt">
    <div ng-repeat="section in productDetail.map">
        <div class="row-fluid">
          <div class="col-xs-12 tit">
            {{section.desc}}
          </div>          
        </div>
        <br>

          <div class="col-xs-6 col-sm-6 col-md-6">  
            <ul>
             <li ng-repeat="detail in section.list track by $index"><span ng-if="$odd" class="fl">{{detail}}</span></li>
            </ul>
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-6">
            <ul>
              <li ng-repeat="detail in section.list track by $index"><span ng-if="$even" class="fl">{{detail}}</span></li>
            </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="pdf">
    <a ng-click="generatePDF()" href="#"><img title="Detalles" tooltip="Descargar PDF" src="/resources/images/iconoModalPDF.png" alt="Descargar PDF"></a>
    </div>
  </div>
</div>


</div>


<div ng-if="loadingProductDetail" class="modContLoader">
<div class="opa"></div>
<div class="cont">
  <div class="mod_table">
    <div class="mod_cell">
      <div class="mod_contenido">
        <div class="loader">{{labelsMap.LOADING}}</div>
      </div>
    </div>
  </div>
  </div>
</div> 